alembic
certifi
cffi
chardet
Click
cryptography
entrypoints
Flask
idna
itsdangerous
jeepney
Jinja2
keyring
Mako
MarkupSafe
messages
pycparser
requests
SecretStorage
six
SQLAlchemy
urllib3
validus
Werkzeug
WTForms
python-dateutil
python-decouple
jsonconfig-tool
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-User
Flask-WTF
python-box
python-editor
email_validator