{% from "macros.html" import render_field %}

{% extends "base.html" %}


{% block content %}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="au-breadcrumb-content">
                    <div class="au-breadcrumb-left">
                        <ul class="list-unstyled list-inline au-breadcrumb__list">
                            <li class="list-inline-item active">
                                <a href="{{ url_for('home.home') }}">Home</a>
                            </li>
                            <li class="list-inline-item seprate">
                                <span>/</span>
                            </li>
                            <li class="list-inline-item active">
                                <a href="{{ url_for('livro.lista') }}">Livros</a>
                            </li>
                            <li class="list-inline-item seprate">
                                <span>/</span>
                            </li>
                            <li class="list-inline-item">Cadastro</li>
                        </ul>
                    </div>
                </div>   
            </div>
            <div class="row">
                <section class="container-center">
                    <form action="{{ action }}" method="post" novalidate="novalidate">
                    {{ form.csrf_token }}
                        <div class="card">
                            <div class="card-header">
                                <h1>Livro</h1>
                            </div>
                            <div class="card-body card-block">
                                <div class="row form-group">
                                    <div class="col-12">
                                        {{ render_field(form.nome, type='text') }}
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-6">
                                        {{ render_field(form.codigo, type='text') }}
                                    </div>
                                    <div class="col-6">
                                        {{ render_field(form.sub_codigo, type='text') }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <input type="submit" class="btn btn-success btn-sm btn-submit" value="Salvar"/> 
                                <a href="{{ url_for('livro.lista') }}" class="btn btn-danger btn-sm">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
