{% extends "base.html" %}


{% block content %}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">Livros</h3>
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="{{ url_for('home.home') }}">Home</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Livros</li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div class="input-group">
                                <input type="text" id="table_filter" name="table_filter" class="form-control" placeholder="Pesquisar..">
                                <div class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <div class="table-data__tool-right">
                            <a href="{{ url_for('livro.cadastrar') }}">
                                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="fas fa-plus"></i>Novo Livro</button>
                            </a>
                            <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                <button id="btn-export" class="au-btn au-btn-icon au-btn--blue au-btn--small">Exportar</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Código</th>
                                    <th>Sub Código</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                {% for livro in livros %}
                                <tr class="tr-shadow">
                                    <td class="desc">{{ livro.nome }}</td>
                                    <td>{{ livro.codigo }}</td>
                                    <td>{{ livro.sub_codigo }}</td>
                                    <td>
                                        {% if livro.status %}
                                            <span class="role member">Disponivel</span>
                                        {% else %}
                                            <span class="role admin">Indisponivel</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="table-data-feature">
                                            {% if livro.status %}
                                            <a href="/livro/emprestimo/{{ livro.id }}">
                                                <button class="item" data-toggle="tooltip" data-placement="top" title="Emprestimo"><i class="fas fa-arrow-up"></i></button>
                                            </a>
                                            {% else %}
                                            <a href="/livro/devolucao/{{ livro.emprestimos_abertos[0].id }}">
                                                <button class="item" data-toggle="tooltip" data-placement="top" title="Devolução"><i class="fas fa-arrow-down"></i></button>
                                            </a>
                                            {% endif %}
                                            <a href="/livro/atualizar/{{ livro.id }}">
                                                <button class="item" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"></i></button>
                                            </a>
                                            <a href="/livro/excluir/{{ livro.id }}">
                                                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"></i></button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $("#table_filter").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

    $("#btn-export").click(function(e){
        var table = $("#myTable");
        if(table && table.length){
        $(table).table2excel({
            exclude: ".noExl",
            name: "Livros",
            filename: "Livros" + new Date().toISOString().replace(/[\-\:\.]/g, "") ,
            fileext: ".xlsx",
            exclude_img: true,
            exclude_links: true,
            exclude_inputs: true,
            preserveColors: false
        });
        }
    });
});
</script>
{% endblock %}