{% extends "base.html" %}


{% block content %}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <!-- STATISTIC-->
            <section class="statistic statistic2">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="statistic__item statistic__item--green">
                                <h2 class="number">{{ form.total_alunos }} Alunos</h2>
                                <span class="desc">ativos</span>
                                <div class="icon">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="statistic__item statistic__item--orange">
                                <h2 class="number">{{ form.total_oficinas }} Oficinas</h2>
                                <span class="desc">ativas</span>
                                <div class="icon">
                                    <i class="fas fa-rocket"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="statistic__item statistic__item--blue">
                                <h2 class="number">{{ form.total_aulas }} Aulas</h2>
                                <span class="desc">neste semestre</span>
                                <div class="icon">
                                    <i class="fas fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="statistic__item statistic__item--red">
                                <h2 class="number">{{ form.total_livros }} Livros</h2>
                                <span class="desc">disponíveis</span>
                                <div class="icon">
                                    <i class="fas fa-book"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <div class="row">
                <div class="col-lg-6" height="300px">
                    <div class="au-card au-card-top-countries" height="100%">
                            <h3 class="title-3 m-b-30">Oficinas</h3>
                            <div class="table-responsive">
                                <table class="table table-top-campaign">
                                    <tbody>
                                        {% for oficina in form.oficinas %}
                                        <tr>
                                            <td>{{ oficina.nome }}</td>
                                            <td>{{ oficina.total_alunos }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="au-card chart-percent-card">
                        <div class="au-card-inner">
                            <h3 class="title-2 tm-b-5">Alunos por Genero</h3>
                            <div class="row no-gutters">
                                <div class="col-xl-6">
                                    <div class="chart-note-wrap">
                                        <div class="chart-note mr-0 d-block">
                                            <span class="dot dot--blue"></span>
                                            <span>Masculino</span>
                                        </div>
                                        <div class="chart-note mr-0 d-block">
                                            <span class="dot dot--red"></span>
                                            <span>Feminino</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="percent-chart">
                                        <canvas id="percent-chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
// Percent Chart
var ctx = document.getElementById("percent-chart");
if (ctx) {
    ctx.height = 300;
    var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        datasets: [
        {
            label: "My First dataset",
            data: [{{form.total_alunos_masc}}, {{form.total_alunos_fem}}],
            backgroundColor: [
            '#00b5e9',
            '#fa4251'
            ],
            hoverBackgroundColor: [
            '#00b5e9',
            '#fa4251'
            ],
            borderWidth: [
            0, 0
            ],
            hoverBorderColor: [
            'transparent',
            'transparent'
            ]
        }
        ],
        labels: [
        'Masculino',
        'Feminino'
        ]
    },
    options: {
        maintainAspectRatio: false,
        responsive: true,
        cutoutPercentage: 55,
        animation: {
        animateScale: true,
        animateRotate: true
        },
        legend: {
        display: false
        },
        tooltips: {
        titleFontFamily: "Poppins",
        xPadding: 15,
        yPadding: 10,
        caretPadding: 0,
        bodyFontSize: 16
        }
    }
    });
}
</script>
{% endblock %}